<div
    [routerLink]="['/projects', project.name]"
    class="group flex-auto relative w-full h-full aspect-sqrt-2 overflow-hidden hover:elevation-z8">
    <img
        *ngIf="mainImagePath"
        (load)="loading$.next(false)"
        [ngSrc]="mainImagePath"
        width="99"
        height="70"
        sizes="(min-width: 1536px) 25vw, (min-width: 1280px) 33vw, 50vw"
        alt="{{ project.imagePathPrefix }}"
        class="w-full scale-[1.01] group-hover:scale-105 transition-transform ease-out duration-[1500ms]" />
    <div
        class="peer absolute inset-0 text-white h-full w-full px-8 pb-4 flex flex-col justify-end group-hover:visible"
        [class.invisible]="!project.defaultShowDetails">
        <span class="font-normal">{{ project.getLangField('en', 'Title') }}</span>
        <span class="font-normal">{{ project.getLangField('cn', 'Title') }}</span>
    </div>
    <app-image-loading *ngIf="mainImagePath && !forbiddenLoading" [loading$]="loading$"></app-image-loading>
</div>
