<div
    matRipple
    routerLink="/projects"
    class="mask h-screen w-screen absolute top-0 left-0 backdrop-blur-md grid grid-rows-2 justify-center">
    <img
        #img
        ngSrc="logo-400.png"
        width="200"
        height="50"
        srcset="logo-400.png 1x, logo-800.png 2x"
        priority
        alt="大料建筑"
        class="self-end"
        (load)="this.imageLoader = false" />
    <app-business-card
        [hidden]="!img.complete"
        [hiddenTelephone]="true"
        [hiddenAddress]="true"
        class="mt-4"></app-business-card>
</div>
