<mat-radio-group aria-label="选择项目" #radioGroup="matRadioGroup">
    <mat-radio-button
        #radio="matRadioButton"
        *ngFor="let p of projects; let i = index"
        [value]="i"
        [routerLink]="p.name"
        routerLinkActive
        (isActiveChange)="$event === true ? (radioGroup.selected = radio) : null"
        class="pointer-events-auto"
        (mouseenter)="onMouseEnter($event, i)"></mat-radio-button>
    <ng-template let-url="url" let-name="name" #overlay>
        <mat-card @overlayTrigger class="w-full backdrop-blur-sm !bg-white !bg-opacity-10">
            <img
                mat-card-image
                [ngSrc]="url"
                alt="{{ name }}"
                width="99"
                height="70"
                ngSrcset="200w"
                class="w-full bg-none" />
        </mat-card>
    </ng-template>
</mat-radio-group>
