<audio #audio autoplay loop>
    <source src="musics/The Sun Also Rises.ogg" type="audio/ogg; codecs=vorbis" />
    <source src="musics/The Sun Also Rises.mp3" type="audio/mpeg" />
</audio>
<div class="!absolute inset-0 !z-50 w-0 h-0">
    <button #play mat-icon-button aria-label="Play" (click)="onClick()">
        <mat-icon *ngIf="!isPlay" class="align-top" [class.text-gray-400]="!play.color">play_circle_filled</mat-icon>
        <mat-icon *ngIf="isPlay" class="align-top" [class.text-gray-400]="!play.color">pause_circle_outline</mat-icon>
        <mat-progress-spinner
            *ngIf="isPlay"
            color="accent"
            diameter="24"
            strokeWidth="3"
            class="-translate-y-9 pointer-events-none"
            [value]="(audio.currentTime / audio.duration) * 100"></mat-progress-spinner>
    </button>
</div>
